@media (min-width: 0) {
  .p-x2 {
    padding: 15px; }
  .my-1 {
    margin-top: 2em;
    margin-bottom: 2em; }
  .mt-1 {
    margin-top: 1em; }
  .mb-1 {
    margin-bottom: 1em; }
  .my-2 {
    margin-top: 3em;
    margin-bottom: 3em; }
  .card-deck .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 30px);
            flex: 0 0 calc(100% - 30px); } }

@media (min-width: 576px) {
  .p-x2 {
    padding: 18px; }
  .my-1 {
    margin-top: 2.4em;
    margin-bottom: 2.4em; }
  .mt-1 {
    margin-top: 1.2em; }
  .mb-1 {
    margin-bottom: 1.2em; }
  .my-2 {
    margin-top: 3.6em;
    margin-bottom: 3.6em; }
  .card-deck .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 30px);
            flex: 0 0 calc(50% - 30px); } }

@media (min-width: 768px) {
  .p-x2 {
    padding: 22.5px; }
  .my-1 {
    margin-top: 3em;
    margin-bottom: 3em; }
  .mt-1 {
    margin-top: 1.5em; }
  .mb-1 {
    margin-bottom: 1.5em; }
  .my-2 {
    margin-top: 4.5em;
    margin-bottom: 4.5em; }
  .card-deck .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 30px);
            flex: 0 0 calc(50% - 30px); } }

@media (min-width: 992px) {
  .p-x2 {
    padding: 30px; }
  .my-1 {
    margin-top: 4em;
    margin-bottom: 4em; }
  .mt-1 {
    margin-top: 2em; }
  .mb-1 {
    margin-bottom: 2em; }
  .my-2 {
    margin-top: 6em;
    margin-bottom: 6em; }
  .card-deck .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 30px);
            flex: 0 0 calc(50% - 30px); } }

@media (min-width: 1200px) {
  .p-x2 {
    padding: 30px; }
  .my-1 {
    margin-top: 4em;
    margin-bottom: 4em; }
  .mt-1 {
    margin-top: 2em; }
  .mb-1 {
    margin-bottom: 2em; }
  .my-2 {
    margin-top: 6em;
    margin-bottom: 6em; }
  .card-deck .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 30px);
            flex: 0 0 calc(50% - 30px); } }

/* New styles August 2019 */
h2, h3, h1, h4 {
  -webkit-font-smoothing: antialiased; }

@media (min-width: 1200px) {
  .aboutus .container {
    width: 1270px; } }

.aboutus .aboutrow {
  width: 100%; }
  .aboutus .aboutrow .teamtext {
    background: transparent !important; }
  .aboutus .aboutrow:nth-child(3n+1) {
    background: #fcf346; }
  .aboutus .aboutrow:nth-child(3n+3) {
    background: white; }
  .aboutus .aboutrow:nth-child(3n+2) {
    background: #fbc7c0; }
  .aboutus .aboutrow .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .aboutus .aboutrow .row .rsImg {
      margin-top: 0 !important; }
  @media (min-width: 992px) {
    .aboutus .aboutrow:nth-child(odd) .row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      text-align: right; }
    .aboutus .aboutrow:nth-child(even) .row {
      text-align: left; } }

.aboutus h3.header-title {
  font-family: Phosphate-s,arial,sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.3em;
  color: #000;
  font-size: 2.3em; }

.aboutus .rsNav.rsBullets {
  position: relative;
  z-index: 35;
  padding-top: 4px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  line-height: 5px;
  overflow: hidden;
  text-align: center;
  line-height: 5px;
  overflow: hidden;
  display: block;
  background: transparent !important; }
  .aboutus .rsNav.rsBullets .rsBullet {
    width: 15px;
    height: 15px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 10px 3px; }
  .aboutus .rsNav.rsBullets .rsBullet span {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #BBB; }
  .aboutus .rsNav.rsBullets .rsBullet.rsNavSelected span {
    background-color: #000; }
  .aboutus .rsNav.rsBullets .rsBullet.rsNavSelected span {
    border: 1px solid black !important;
    background: black !important;
    width: 7px;
    height: 7px;
    margin-top: -1px; }

.aboutus .rsBullet span {
  border: 1px solid #b5b5b5 !important; }

.offerspage .offerspadder {
  padding-top: 7em;
  padding-bottom: 5em; }

.offerspage .blackbox {
  background: black; }

.offerspage .hh-home span.img-circle {
  background: transparent; }

.offerspage .Grid-item:before {
  content: "";
  float: left;
  padding-top: 100%; }

.image-dag {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-clip-path: polygon(0 15vw, 100% 0, 100% 171vw, 0 100%);
  clip-path: polygon(0 15vw, 100% 0, 100% 171vw, 0 100%);
  /* padding-top: 15vw; */
  /* padding-bottom: 15vw; */
  /* margin-bottom: -16vw; */
  /* background-size: calc(100% + 30vh); */
  background-position: center;
  background-origin: content-box;
  background-image: url("http://amstelhouse.localhost/content/uploads/2018/07/travel-deal-berlin.jpg");
  background-size: cover;
  display: inline-block;
  margin-left: 0;
  margin-top: 0;
  position: relative;
  width: 100%;
  z-index: 3; }

.x1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  min-height: calc(100vh - 86px);
  height: 100%; }
  .x1 .auto-clear {
    float: none;
    margin: 0 auto; }

.z1 {
  z-index: 7;
  position: relative; }
  @media (min-width: 768px) {
    .z1 {
      margin-bottom: 0;
      overflow: hidden;
      background-size: cover;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      background-origin: border-box;
      background-position: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      min-height: 100%; }
      @supports ((-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%))) {
        .z1 {
          -webkit-clip-path: polygon(0px 15vw, 100% 0px, 100% 171vw, 0% 100%);
                  clip-path: polygon(0px 15vw, 100% 0px, 100% 171vw, 0% 100%);
          padding-top: 15vw;
          padding-bottom: 15vw;
          margin-top: -15vw; } } }
  @media (max-width: 767px) {
    .z1 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      justify-items: flex-start; } }
  .z1 .auto-clear {
    float: none;
    margin: 0 auto; }

@media (max-width: 767px) {
  .z1 > div.se-container, .z1 > div.container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2; }
    .z1 > div.se-container .panel.panel-default, .z1 > div.container .panel.panel-default {
      padding: 1em 0; } }

@supports ((-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%))) {
  .z1-75 {
    min-height: calc(100vh + 30vw - 56px); } }

@media screen and (-ms-high-contrast: none) {
  .z1-75 {
    height: calc(100vh - 56px); } }

@media (max-width: 767px) {
  .z1-75 {
    min-height: calc(100vh - 50px); } }

#specialoffers {
  margin-top: 0px; }
  @media (min-width: 768px) {
    #specialoffers #hexagon {
      width: 100px;
      height: 55px;
      background: #211f20;
      position: relative; }
    #specialoffers #hexagon:before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid #211f20; }
    #specialoffers #hexagon:after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid #211f20; }
    #specialoffers .hexagon {
      height: 100%;
      width: calc(100% * 0.57735);
      display: inline-block;
      background: #211f20;
      z-index: 6;
      margin: 0 auto;
      float: none;
      right: 0;
      justify-self: center;
      padding: 0;
      /* width: 400px; */
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      justify-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    #specialoffers .hexagon:before {
      position: absolute;
      top: 0;
      right: calc((100% / 2) - ((100% * 0.57735) / 2));
      background-color: inherit;
      height: inherit;
      width: inherit;
      content: '';
      -webkit-transform: rotateZ(60deg);
              transform: rotateZ(60deg);
      z-index: 7; }
    #specialoffers .hexagon:after {
      position: absolute;
      top: 0;
      right: calc((100% / 2) - ((100% * 0.57735) / 2));
      background-color: inherit;
      height: inherit;
      width: inherit;
      content: '';
      -webkit-transform: rotateZ(-60deg);
              transform: rotateZ(-60deg); }
    #specialoffers .hexagon_container {
      text-align: center;
      margin: 20px;
      position: relative;
      display: inline-block;
      width: 90vw;
      height: 90vw;
      max-width: 600px;
      max-height: 600px; } }
  @media (min-width: 768px) and (min-width: 992px) {
    #specialoffers .hexagon_container {
      width: 50vw;
      height: 50vw; } }
  @media (min-width: 768px) {
      #specialoffers .hexagon_container h3.photsphate-in {
        padding-top: 0 !important; }
    #specialoffers .hextestx {
      z-index: 8 !important;
      margin: 0px -20px;
      width: 100%; }
      #specialoffers .hextestx p {
        color: white; } }
  @media (max-width: 767px) {
    #specialoffers {
      background: none !important; }
      #specialoffers .hexagon_container {
        background: black;
        padding-bottom: 1.5em; }
        #specialoffers .hexagon_container .hextestx {
          padding: 0 1em; }
        #specialoffers .hexagon_container p {
          color: white; } }
  #specialoffers .z2.container {
    background-size: cover;
    -webkit-backface-visibility: hidden;
    /* backface-visibility: hidden; */
    background-origin: border-box;
    background-position: center; }
    @media (min-width: 768px) {
      #specialoffers .z2.container {
        background: none !important; } }

h2.photsphate-in {
  font-family: 'Phosphate-in',arial,sans-serif;
  font-size: 3.6em; }
  @media (max-width: 767px) {
    h2.photsphate-in {
      font-size: 2.2em !important; } }

.z1 .text-content h2 {
  display: block !important;
  float: none;
  padding: 0.5em 0; }

.flexcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.z2 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column; }
  .z2 .panel.panel-default {
    color: white; }

.z3 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0; }

.z1-50 {
  height: 44vw; }

.z2 h2 {
  color: white;
  display: block;
  float: none; }

@media (min-width: 768px) {
  @supports ((-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%))) {
    .invskew {
      -webkit-transform: skew(0deg, 8.5deg);
              transform: skew(0deg, 8.5deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      margin-top: -15vw !important;
      padding-top: 15vw;
      /* margin-top: -15vw !important; */ } } }

.blackonwhite-text h3 {
  background: white;
  color: black; }

.whiteonblack-text h3 {
  background: black;
  color: white; }

.blackonpink-text h3 {
  background: pink;
  color: black; }

#rooms-section h2 {
  color: black; }

section .absheaderskew {
  position: relative;
  -webkit-transform: none;
          transform: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: unset !important;
      -ms-flex: unset !important;
          flex: unset !important;
  width: 100%; }
  @media (min-width: 768px) {
    section .absheaderskew {
      z-index: 7;
      top: 0;
      margin-top: 0;
      position: absolute;
      text-align: right; }
      @supports ((-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%))) {
        section .absheaderskew {
          -webkit-transform-origin: right top;
          transform-origin: right top;
          -webkit-transform: rotate(-8.5deg);
          transform: rotate(-8.5deg); } }
      section .absheaderskew h3 {
        margin-right: 14.5%;
        display: inline-block;
        text-align: right; } }

@media screen and (-ms-high-contrast: none) {
  #blog .se-container {
    background: black; } }

.yellowbox .se-container {
  background: #f9ee50; }

.greyboxa.base .greybox {
  background: #e0e0e1; }

@media (min-width: 768px) {
  @supports (-ms-ime-align: auto) {
    .se-content {
      padding-top: 6vw;
      padding-bottom: 6vw; } } }

@media screen and (min-width: 768px) and (-ms-high-contrast: none) {
  .se-content {
    padding-top: 3vw;
    padding-bottom: 3vw; } }

@media (min-width: 768px) {
  .se-container {
    display: block;
    width: 100%;
    z-index: 0; }
    @supports ((-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%))) {
      .se-container {
        padding-bottom: 15vw;
        margin-bottom: -15vw; } }
  .mainskew {
    -webkit-backface-visibility: hidden;
    /* backface-visibility: hidden; */
    background-size: cover;
    backface-visibility: hidden; }
    @supports ((-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%))) {
      .mainskew {
        padding-top: 15vw; } }
  @supports ((-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%))) {
    .pullup {
      margin-top: -15vw; }
    .se-container.offsetskew {
      margin-top: -15vw;
      background-size: 100%; }
    .textskew {
      -webkit-transform-origin: left top;
      transform-origin: left top;
      -webkit-transform: rotate(-8.5deg);
      transform: rotate(-8.5deg);
      margin-top: -3px; } } }

img.absimg {
  top: 0; }
  @media (min-width: 768px) {
    img.absimg {
      -o-object-fit: fill;
         object-fit: fill;
      width: 100%; } }
  @media screen and (min-width: 768px) and (-ms-high-contrast: none) {
    img.absimg {
      height: 100%; } }
  @media (min-width: 768px) {
      @supports ((-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%))) {
        img.absimg {
          margin-top: -15vw; } } }
  @media (max-width: 767px) {
    img.absimg {
      -o-object-fit: cover;
         object-fit: cover;
      height: 40vh; } }

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .story .se-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background: pink; }
    @media (min-width: 768px) {
      @supports ((-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%))) {
        .story .se-container {
          -webkit-transform: skew(0deg, -8.5deg);
                  transform: skew(0deg, -8.5deg);
          -webkit-transform-origin: left;
                  transform-origin: left;
          overflow: hidden;
          padding-bottom: 0px; } } }
    .story .se-container .abscenter_story {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      top: 50%;
      /* margin: 0 0px; */
      margin-top: -3vw;
      -ms-flex-item-align: center;
          align-self: center;
      left: 0;
      right: 0;
      text-align: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .story .se-container .abscenter_story h2 {
        color: white;
        font-size: 3vw;
        line-height: 3.5vw; }
        .story .se-container .abscenter_story h2 a {
          color: white; }
      @media (max-width: 767px) {
        .story .se-container .abscenter_story {
          display: none; } }
    .story .se-container .storyholder {
      width: 100%; }
      @media (min-width: 768px) {
        .story .se-container .storyholder {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          @supports ((-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%))) {
            .story .se-container .storyholder {
              padding-bottom: 15vw; } }
          .story .se-container .storyholder .col {
            /* margin: 0px; */
            /* align-content: center; */
            /* align-self: baseline; */
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1;
            /* width: 100%; */
            /* align-items: baseline; */
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                    align-items: stretch;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
            padding-top: 5em;
            padding-bottom: 5em; }
            .story .se-container .storyholder .col:nth-child(even) .storypart {
              padding: 0 3em; }
            .story .se-container .storyholder .col .storypart {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              height: 50%;
              -webkit-box-flex: 1;
                  -ms-flex: 1 1 50%;
                      flex: 1 1 50%;
              -ms-flex-line-pack: start;
                  align-content: flex-start;
              -webkit-box-pack: end;
                  -ms-flex-pack: end;
                      justify-content: flex-end;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              align-items: center;
              -ms-flex-flow: column nowrap;
                  flex-flow: column nowrap;
              /* font-weight: bold; */ }
              .story .se-container .storyholder .col .storypart hr {
                width: 4px;
                background: white;
                border: none;
                height: 30px;
                margin-top: 0;
                top: 0;
                justify-self: start;
                /* IE aligner */
                -ms-flex-item-align: start;
                -ms-grid-row-align: start;
                -ms-grid-column-align: start;
                margin: 15px 0px 15px 0px; }
              .story .se-container .storyholder .col .storypart h3 {
                -ms-flex-item-align: auto;
                    align-self: auto;
                font-family: 'Phosphate-s',arial,sans-serif;
                font-size: 2.2em;
                line-height: 1em;
                /* flex: 1 0px; */ }
              .story .se-container .storyholder .col .storypart:nth-child(odd) {
                -webkit-box-align: start;
                    -ms-flex-align: start;
                        align-items: start;
                border-bottom: 4px solid white;
                -ms-flex-line-pack: end;
                    align-content: flex-end; }
                .story .se-container .storyholder .col .storypart:nth-child(odd) hr {
                  -webkit-box-ordinal-group: 2;
                      -ms-flex-order: 1;
                          order: 1;
                  bottom: 0;
                  top: unset;
                  margin-bottom: 0; }
              .story .se-container .storyholder .col .storypart:nth-child(even) {
                -webkit-box-align: start;
                    -ms-flex-align: start;
                        align-items: flex-start;
                -ms-flex-line-pack: start;
                    align-content: flex-start;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-flow: column nowrap;
                        flex-flow: column nowrap;
                /* font-weight: bold; */ }
                .story .se-container .storyholder .col .storypart:nth-child(even) hr {
                  margin-top: 0px;
                  -ms-flex-item-align: center;
                  -ms-grid-row-align: center; }
              .story .se-container .storyholder .col .storypart p {
                font-weight: normal;
                font-family: inherit;
                text-transform: none;
                font-size: 1.2em;
                padding: 1em 0;
                width: 100%;
                font-family: "proxima_nova_bold-con";
                max-width: 325px; }
          .story .se-container .storyholder .col:first-child .storypart:last-child {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            /* font-weight: bold; */ }
            .story .se-container .storyholder .col:first-child .storypart:last-child hr {
              width: 4px;
              background: white;
              border: none;
              height: 30px;
              margin-top: 0;
              top: 0;
              justify-self: start; }
          .story .se-container .storyholder .col:first-child .storypart {
            padding-left: 3em; }
          .story .se-container .storyholder .col:last-child .storypart {
            padding-right: 3em; }
          .story .se-container .storyholder .col:nth-child(3) .storypart:first-child hr {
            /* padding: 0px !important; */ } }

.services_home .text-content h2 {
  display: block !important;
  float: none;
  font-family: 'Phosphate-in',arial,sans-serif;
  font-size: 3.6em;
  padding: 0.5em 0; }

@media (max-width: 767px) {
  .story .absheaderskew {
    position: relative; }
  .storypart p {
    display: none; }
  .col {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    flex-wrap: wrap;
    width: 100%; }
  .story .se-container {
    width: 100%;
    padding: 3em 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .col .storypart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 1em;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .col .storypart:first-child {
    border-right: 2px solid white;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .col .storypart hr {
    position: absolute;
    width: 30px;
    border-color: white;
    border-width: 1px;
    /* position: absolute; */
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: auto;
    margin-bottom: auto;
    height: 1px;
    border: none;
    background: white;
    margin-top: 0.5em; }
  .col .storypart:first-child hr {
    margin-right: 0;
    margin-top: 2em;
    right: 0; }
  .col .storypart:last-child {
    border: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em; }
  .col .storypart:last-child hr {
    margin-right: 0;
    text-align: right;
    -ms-flex-item-align: end;
        align-self: end;
    left: 0;
    margin-left: auto; }
  .col .storypart h3 {
    font-size: 1.6em;
    padding: 0.5em 0;
    font-family: 'Phosphate', arial, sans-serif; }
  img.my-custom-class {
    -o-object-fit: contain;
       object-fit: contain; } }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.offersbox {
  min-height: calc(100vh + 15vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
