@media (min-width: 0) {
  .card-deck .card {
    flex: 0 0 calc(100% - 30px); } }

@media (min-width: 576px) {
  .card-deck .card {
    flex: 0 0 calc(50% - 30px); } }

@media (min-width: 768px) {
  .card-deck .card {
    flex: 0 0 calc(50% - 30px); } }

@media (min-width: 992px) {
  .card-deck .card {
    flex: 0 0 calc(50% - 30px); } }

@media (min-width: 1200px) {
  .card-deck .card {
    flex: 0 0 calc(50% - 30px); } }

/* New styles August 2019 */
.aboutus .container.aboutrow:nth-child(odd) .row {
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  text-align: right; }

.aboutus h3.header-title {
  font-family: Phosphate-s,arial,sans-serif;
  letter-spacing: .05em;
  line-height: 1.3em;
  color: #000;
  font-size: 2.3em; }
