@mixin for-size($size) {
  @if $size == xs {
    @media (max-width: 576px) {
      @content;
    }
  } @else
  if $size == sm-down {
    @media (max-width: 767px) {
      @content;
    }
  } @else
  if $size == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else
  if $size == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else
  if $size == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else
  if $size == xl {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
// Bootstrap 4 breakpoints & gutter
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
)
!default;
$grid-gutter-width: 30px !default; // number of cards per line for each breakpoint
$cards-per-line: (
  xs: 1,
  sm: 2,
  md: 2,
  lg: 2,
  xl: 2
);
$margins-add: (
  xs: 1,
  sm: 1.2,
  md: 1.5,
  lg: 2,
  xl: 2
);
$padding-add: (
  xs: 1,
  sm: 1.2,
  md: 1.5,
  lg: 2,
  xl: 2
);
@each $name, $breakpoint in $grid-breakpoints {
  @media (min-width: $breakpoint) {
    .p-x2 {
      padding: #{map-get($padding-add, $name) * 15}px;
    }

    .my-1 {
      margin-top: #{map-get($margins-add, $name) * 2}em;
      margin-bottom: #{map-get($margins-add, $name) * 2}em;
    }

    .mt-1 {
      margin-top: #{map-get($margins-add, $name)}em;
    }

    .mb-1 {
      margin-bottom: #{map-get($margins-add, $name)}em;
    }

    .my-2 {
      margin-top: #{map-get($margins-add, $name) * 3}em;
      margin-bottom: #{map-get($margins-add, $name) * 3}em;
    }

    .card-deck .card {
      flex: 0 0 calc(#{100/map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
    }
  }
}
/* New styles August 2019 */

h2, h3, h1, h4 {
    -webkit-font-smoothing: antialiased;
}

.aboutus {
  .container {
    @media (min-width: 1200px)
    {
        width: 1270px;
    }
  }

  .aboutrow {
    width: 100%;
    .teamtext {
      background: transparent !important;
    }
    &:nth-child(3n+1) {
   background: #fcf346;
}
&:nth-child(3n+3) {
  background: white;
}
&:nth-child(3n+2) {
  background: #fbc7c0;
}

    .row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .rsImg {
          margin-top: 0 !important;
      }
    }
    @media (min-width: 992px) {
      &:nth-child(odd) .row {
        flex-direction: row-reverse;
        text-align: right;
      }

      &:nth-child(even) .row {
        text-align: left;
      }
    }

  }

  h3.header-title {
    font-family: Phosphate-s,arial,sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.3em;
    color: #000;
    font-size: 2.3em;
  }
.rsNav.rsBullets {
    position: relative;
    z-index: 35;
    padding-top: 4px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    line-height: 5px;
    overflow: hidden;
    text-align: center;
    line-height: 5px;
    overflow: hidden;
    display: block;
  background: transparent !important;


  .rsBullet {
    width: 15px;
    height: 15px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 10px 3px;
  }

  .rsBullet span {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #BBB;
  }

  .rsBullet.rsNavSelected span {
    background-color: #000;
  }

  .rsBullet.rsNavSelected span {
    border: 1px solid black !important;
    background: black !important;
    width: 7px;
height: 7px;
margin-top: -1px;
}
  }

  .rsBullet span {
    border: 1px solid #b5b5b5 !important;
  }
}


.offerspage {
  .offerspadder {
    padding-top: 7em;
    padding-bottom: 5em;
  }

  .blackbox {
    background: black;
  }

  .hh-home span.img-circle {
    background: transparent;
  }
  .Grid-item:before {
  content: "";
  float: left;
  padding-top: 100%
}
}

.image-dag {
  backface-visibility: hidden;
  -webkit-clip-path: polygon(0 15vw,100% 0,100% 171vw,0 100%);
  clip-path: polygon(0 15vw,100% 0,100% 171vw,0 100%);
  /* padding-top: 15vw; */
  /* padding-bottom: 15vw; */
  /* margin-bottom: -16vw; */
  /* background-size: calc(100% + 30vh); */
  background-position: center;
  background-origin: content-box;
  background-image: url("http://amstelhouse.localhost/content/uploads/2018/07/travel-deal-berlin.jpg");
  background-size: cover;
  display: inline-block;
  margin-left: 0;
  margin-top: 0;
  position: relative;
  width: 100%;
  z-index: 3;
}

.x1 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 86px);
  height: 100%;

  .auto-clear {
    float: none;
    margin: 0 auto;
  }
}

.z1 {
  @include for-size(sm) {
      @supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
    clip-path: polygon(0px 15vw, 100% 0px, 100% 171vw, 0% 100%);

    padding-top: 15vw;
    padding-bottom: 15vw; // margin-bottom: -16vw;
    margin-top: -15vw;
  }
    margin-bottom: 0;
    overflow: hidden;
    background-size: cover;
    backface-visibility: hidden;
    background-origin: border-box;
    background-position: center;
    flex-direction: row;
    min-height: 100%;
  }
  @include for-size(sm-down) {
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: flex-start;
  }
  z-index: 7;
  position: relative;

  .auto-clear {
    float: none;
    margin: 0 auto;
  }
}

.z1 > div.se-container, .z1 > div.container {
  @include for-size(sm-down) {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2;

    .panel.panel-default {
      padding: 1em 0;
    }
  }
}
.z1-75 {
  //  height: calc(100vh - 56px);
  @supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
  min-height: calc(100vh + 30vw - 56px);
}
@media screen and (-ms-high-contrast: none) {
  height: calc(100vh - 56px);
}
  @include for-size(sm-down) {
    min-height: calc(100vh - 50px);
  }
}

#specialoffers {
  margin-top: 0px;

  //
  // .absheaderskew {
  //   position: absolute;
  // }
  // HEX
  @include for-size(sm) {
    #hexagon {
      width: 100px;
      height: 55px;
      background: #211f20;
      position: relative;
    }

    #hexagon:before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid #211f20;
    }

    #hexagon:after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid #211f20;
    }

    .hexagon {
      height: 100%;
      width: calc(100% * 0.57735);
      display: inline-block;
      background: #211f20;
      z-index: 6;
      margin: 0 auto;
      float: none;
      right: 0;
      justify-self: center;
      padding: 0;
      /* width: 400px; */
      align-items: center;
      justify-content: center;
      justify-items: center;
      display: flex;
      flex-direction: column;
    }

    .hexagon:before {
      position: absolute;
      top: 0;
      right: calc((100% / 2) - ((100% * 0.57735) / 2));
      background-color: inherit;
      height: inherit;
      width: inherit;
      content: '';
      transform: rotateZ(60deg);
      z-index: 7;
    }

    .hexagon:after {
      position: absolute;
      top: 0;
      right: calc((100% / 2) - ((100% * 0.57735) / 2));
      background-color: inherit;
      height: inherit;
      width: inherit;
      content: '';
      transform: rotateZ(-60deg);
    }

    .hexagon_container {
      text-align: center;
      margin: 20px;
      position: relative;
      display: inline-block;
      width: 90vw;
      height: 90vw;
      max-width: 600px;
      max-height: 600px;
      @include for-size(md) {
        width: 50vw;
        height: 50vw;
      }

      h3.photsphate-in {
        padding-top: 0 !important;
      }
    }

    .hextestx {
      z-index: 8 !important;
      margin: 0px -20px;
      width: 100%;
      p {
        color: white;
      }
    }
  }
  @include for-size(sm-down) {
    .hexagon_container {
      background: black;
      padding-bottom: 1.5em;

      .hextestx {
        padding: 0 1em;
      }
      p {
  color: white;

      }
    }
    background: none !important;
  }

  .z2.container {
    background-size: cover;
    -webkit-backface-visibility: hidden;
    /* backface-visibility: hidden; */
    background-origin: border-box;
    background-position: center;
    @include for-size(sm) {
      background: none !important;
    }
  }
}



h2.photsphate-in {
  font-family: 'Phosphate-in',arial,sans-serif;
  font-size: 3.6em;
  @include for-size(sm-down) {
    font-size: 2.2em !important;
  }
}

.z1 .text-content h2 {
  display: block !important;
  float: none;
  padding: 0.5em 0;
}

.flexcol {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
}

.z2 {
  height: 100%;
  // min-height: 80vw;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-flow: column;
  .panel.panel-default {
    color: white;
  }
}

.z3 {
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  flex: 1 0 0;
}

.z1-50 {
  height: 44vw;
}

.z2 h2 {
  color: white;
  display: block;
  float: none;
}



.invskew {
  @include for-size(sm) {
    @supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
    transform: skew(0deg, 8.5deg);
    transform-origin: left;
    margin-top: -15vw !important;
    padding-top: 15vw;
    /* margin-top: -15vw !important; */
    // background-color: white !important;
    // background: white !important;
  }
}
}



.blackonwhite-text h3 {
  background: white;
  color: black;
}

.whiteonblack-text h3 {
  background: black;
  color: white;
}

.blackonpink-text h3 {
  background: pink;
  color: black;
}

#rooms-section h2 {
  color: black;
}
section .absheaderskew {
   position: relative;
  transform: none;
  flex-wrap: nowrap;
  flex: unset !important;
  width: 100%;

  @include for-size(sm) {
      @supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: rotate(-8.5deg);
  transform: rotate(-8.5deg);
  // margin-top: 0px;

}
  z-index: 7;
  top: 0;
  margin-top: 0;
  position: absolute;

  text-align: right;
  h3 {

      margin-right: 14.5%;
      display: inline-block;
      text-align: right;

  }
}



  // margin-top: -.5%;
}
@media screen and (-ms-high-contrast: none) {
#blog .se-container {
  background: black;
}
}
.yellowbox .se-container {
  background: #f9ee50;
}

.greyboxa.base .greybox {
  background: #e0e0e1;
}


@include for-size(sm) {

@supports (-ms-ime-align:auto) {

    .se-content {
      // for IE hack
      padding-top: 6vw;
      padding-bottom: 6vw;
    }
  }

  @media screen and (-ms-high-contrast: none) {
    .se-content {
      // for IE hack
      padding-top: 3vw;
      padding-bottom: 3vw;
    }
  }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  }


  .se-container {
    display: block;
    width: 100%;
    z-index: 0;
    @supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
    padding-bottom: 15vw;
    margin-bottom: -15vw;
  }
  }

  .mainskew {
    -webkit-backface-visibility: hidden;
    /* backface-visibility: hidden; */
    @supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
    padding-top: 15vw;
  }
    background-size: cover;
    backface-visibility: hidden;
  }

  @supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
    .pullup {
      margin-top: -15vw; // z-index: 12;
    }



  .se-container.offsetskew {

        margin-top: -15vw;

    background-size: 100%;
  }

  .textskew {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(-8.5deg);
    transform: rotate(-8.5deg);
    margin-top: -3px;
  }

}
}



img.absimg {
  top: 0;
  @include for-size(sm) {
    object-fit: fill;
    width: 100%;
      @media screen and (-ms-high-contrast: none) {
      height: 100%;
//       position: absolute;
// top: 50%;
// left: 50%;
// transform: translate(-50%, -50%);
    }
      @supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
    margin-top: -15vw;
  }
  }
  @include for-size(sm-down) {
    object-fit: cover;
    height: 40vh;
  }
}

.story {
  // @include for-size(sm) {
  //   // min-height: calc(100vh + 15vw);
  // }
  display: flex;
  // background: pink;
  .se-container {
    display: flex;
    align-items: stretch;
    background: pink;
    // margin-bottom: -15vw;
    // padding-bottom: 15vw !important;
    @include for-size(sm) {
        @supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
    transform: skew(0deg, -8.5deg);
    transform-origin: left;
    overflow: hidden;
    padding-bottom: 0px;
  }
}

    .abscenter_story {
      position: absolute;
      display: flex;
      top: 50%;
      /* margin: 0 0px; */
        margin-top: -3vw;
      align-self: center;
      left: 0;
      right: 0;
      text-align: center;
      align-items: center;
      justify-content: center;

      h2 {
          color: white;
        a {
            color: white;
        }

        // text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.54);
        font-size: 3vw;
  line-height: 3.5vw;
      }
      @include for-size(sm-down) {
        display: none;
      }
    }

    .storyholder {
      width: 100%;

      @include for-size(sm) {
        @supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
          padding-bottom: 15vw;
        }
        display: flex;

        .col {
          // height: 100%;
          /* margin: 0px; */
          /* align-content: center; */
          /* align-self: baseline; */
          flex: 1;
          /* width: 100%; */
          // display: flex;
          /* align-items: baseline; */
          flex-direction: column;
          align-items: stretch;
          flex-wrap: nowrap;
          padding-top: 5em;
          padding-bottom: 5em;

          &:nth-child(even) {
            // flex: 2 1 0 !important;
            .storypart {
              padding: 0 3em;
            }
          }

          .storypart {
            display: flex;
            height: 50%;
            flex: 1 1 50%;
            // flex: 2 0;
            // justify-content: space-around;
            align-content: flex-start;
            // justify-content: start;
            justify-content: flex-end; // space-between;
            align-items: center;
            flex-direction: column;
            align-items: center;
            flex-flow: column nowrap;
            /* font-weight: bold; */
            // text-align: center;
            hr {
              width: 4px;
              background: white;
              border: none;
              height: 30px;
              // margin-top: -2px;
              margin-top: 0;
              top: 0;
              justify-self: start; /* IE aligner */

              -ms-flex-item-align: start;
   -ms-grid-row-align: start;
   -ms-grid-column-align: start;
              margin: 15px 0px 15px 0px;
            }

            h3 {
              align-self: auto;
              font-family: 'Phosphate-s',arial,sans-serif;
              font-size: 2.2em;
              line-height: 1em;

              /* flex: 1 0px; */
            }

            &:nth-child(odd) {
              align-items: start;
              border-bottom: 4px solid white;
              // align-items: flex-end;
              align-content: flex-end;
              // justify-content: flex-end;

              hr {
                order: 1;
                bottom: 0;
                top: unset;
                margin-bottom: 0;
                // margin-top: 5px;
              }
            }

            &:nth-child(odd) p {
              // border-left: 4px solid white;
            }

            &:nth-child(even) {
              align-items: flex-start;
              align-content: flex-start;
              justify-content: flex-start;
              // flex-direction: column-reverse;
              align-items: center;
              flex-flow: column nowrap;
              /* font-weight: bold; */
              // text-align: center;
              hr {
                margin-top: 0px;
                -ms-flex-item-align: center;
     -ms-grid-row-align: center;

              }
            }


            p {
              // order: 3;
              font-weight: normal;
              font-family: inherit;
              text-transform: none;
              font-size: 1.2em;
              padding: 1em 0;
              width: 100%;
              font-family: "proxima_nova_bold-con";
              max-width: 325px;
              // padding: 1em 0 1em 1em;
            }
          }
        }

        .col:first-child {
          .storypart:last-child {
            flex-direction: column;
            align-items: center;
            // flex-flow: column wrap;
            /* font-weight: bold; */
            // text-align: center;
            hr {
              width: 4px;
              background: white;
              border: none;
              height: 30px;
              // margin-top: -2px;
              margin-top: 0;
              top: 0;
              justify-self: start;
            }

            // p {
            //   order: 3;
            //   font-weight: normal;
            //   font-family: inherit;
            //   text-transform: none;
            //   font-size: 1.1em;
            //   padding: 1em 0 0 1em;
            // }
          }

          .storypart {
            padding-left: 3em;
          }
        }

        .col:last-child {
          .storypart {
            padding-right: 3em;
            // flex-flow: row wrap;
            // height: 50%;
          }
        }
        .col:nth-child(3) .storypart:first-child hr {
  /* padding: 0px !important; */
  // margin-bottom: 50px !important;
        }

      }
    }
  }
}

.services_home {
  .text-content h2 {
    display: block !important;
    float: none;
    font-family: 'Phosphate-in',arial,sans-serif;
    font-size: 3.6em;
    padding: 0.5em 0;
    // color: white;
  }

  p {}
}
@include for-size(sm-down) {

  .story .absheaderskew {
    position: relative;
  }

  .storypart p {
    display: none;
  }

  .col {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .story .se-container {
    width: 100%;
    padding: 3em 0;
    justify-content: center;
    flex-direction: column;
  }

  .col .storypart {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 0 1em;
    position: relative;
    align-items: center;
  }

  .col .storypart:first-child {
    border-right: 2px solid white;
    justify-content: flex-start;
  }

  .col .storypart hr {
    position: absolute;
    width: 30px;
    border-color: white;
    border-width: 1px; /* position: absolute; */
    align-self: center;
    justify-content: start;
    margin-top: auto;
    margin-bottom: auto;
    height: 1px;
    border: none;
    background: white;
    margin-top: 0.5em;
  }

  .col .storypart:first-child hr {
    margin-right: 0;
    margin-top: 2em;
    right: 0;
  }

  .col .storypart:last-child {
    border: none;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .col .storypart:last-child hr {
    margin-right: 0;
    text-align: right;
    align-self: end;
    left: 0;
    margin-left: auto;
  }
  .col .storypart h3 {
    font-size: 1.6em;
    padding: 0.5em 0;
    font-family: 'Phosphate', arial, sans-serif;


  }

  img.my-custom-class {
    object-fit: contain;
  }
}

.align-items-center {
  align-items: center;
  display: flex;
}
// wierd fixes
// .se-container {
// margin-bottom: -15vw;
//   /* padding-bottom: 15vw; */
// }
// For stories specifics

.offersbox {
  min-height: calc(100vh + 15vh);
display: flex;
}
