/*
Theme Name: Amstel House 2.2
Author: Konstantin Prishep
Author URI:
Description: Amstel House v2.1 Re-Design
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
*/
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
.booking-widget input, span.select2-selection.select2-selection--single {
  box-shadow: 0px 2px 5px 0px #00000047 !important;
}

a.dropdown-item {
  background-repeat: no-repeat !important;
}

#story.yellowbox2:before {
  background-color: white !important;
}

#story.yellowbox2::before {
  background-color: white !important;
}

.welcome .welcome-body p {
  font-size: 1.2em;
}

#funstuff .yellowbox h3 {
  background: #000 !important;
  color: #faee51;
}



.yellowbox h3.blockwhite {
  background: white !important;
  color: black;
}

#story .se-container.se-slope.up.iconsbox.offersbox {
  padding-bottom: 0px;
}

.storyholder>.royalSlider {
  transform: skew(0deg, 8.5deg);
  transform-origin: left;
  /* margin-top: -15vw !important; */
  background-color: white !important;
  background: white !important;
}

.storyholder>.royalSlider .rsOverflow, .storyholder>.royalSlider .rsSlide {
  background-color: white !important;
}

.shoryslide {
  text-align: center;
  /* height: 100%; */
  width: 100%;
  -webkit-box-align: center;
  /* align-items: center; */
  vertical-align: middle;
  position: relative;
  top: 0;
  display: flex;
  height: 100%;
}

.row.vcenterstory {
  display: flex;
  align-content: center;
  /* align-items: stretch; */
  align-self: center;
  /* height: 100%; */
  /* flex: 1 1 0; */
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  padding: 30px 0px;
  margin: 0 auto;
}

.f-top {
  /* align-content: center;
  align-items: flex-end;
  flex-direction: row;
  display: flex; */
  flex-basis: 100%;
}

.f-bottom {
  /* margin-bottom: 0px;
  margin-top: auto;
  flex-direction: row;
  flex: 1 1 0;
  margin-right: 0px;
  text-align: right; */
}

.storytextholder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 100%; */
  /* flex-flow: row; */
  background-color: #f4cbcf;
  padding: 30px;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  align-content: center;
  align-items: center;
  flex-basis: 100%;
}

.storyimgholder {
  /* align-content: center; */
  /* margin: 0px; */
  /* box-sizing: border-box; */
  height: 100%;
  background: white;
  /* box-sizing: content-box; */
  position: relative;
  /* object-fit: cover; */
  height: 100%;
  max-height: 100vw;
  /* object-fit: cover; */
}

.storyimgholder>img {
  border: 0;
  max-width: 100%;
  /* contain: style; */
  object-fit: cover;
  object-position: bottom;
  /* width: 100%; */
  margin: 0px;
  padding: 0px;
  /* max-height: 123%; */
  display: block;
}

.shoryslide .vcenterstory .header-title {
  font-size: 6em;
  font-family: Phosphate-in, arial, sans-serif;
  line-height: 1em;
  color: black;
  letter-spacing: .05em;
  font-weight: 500;
  text-align: right;
  /* width: auto; */
  /* display: inline; */
  /* margin-bottom: 0px; */
  /* justify-content: flex-end; */
  margin-left: auto;
  margin-right: 0px;
}

.shoryslide .vcenterstory p {
  color: #000;
  font-size: 1.4em;
  letter-spacing: .01em;
  font-weight: 200;
  text-align: left;
  max-width: 670px;
  text-align: right;
  margin-left: auto;
}

.shoryslide .text-shadow {
  filter: drop-shadow(0px 0px 1px black);
}

.left:last-child .badgeb.left.servicetext .hiddenholder {
  background: #fbc7c0 !important;
}

.left:last-child .badgeb.left.servicetext .hiddenholder p {
  color: black !important;
}

.left:last-child .badgeb.left.servicetext .hiddenholder h3 {
  color: black !important;
}

.roomspage .more {
  font-size: 23px;
  color: #fff;
  vertical-align: center;
  align-self: center;
  letter-spacing: .03em;
  font-family: proxima_nova_bold, helvetica, ariel, sans-serif;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: uppercase;
}

.roomspage2 .square:hover .hiddenholder {
  opacity: 1;
}

.text-shadow-2 {
  text-shadow: #0000007a 0 0px 2px;
}

#location h2 {
  color: black;
  background: #f9ee50 !important;
}

#location .card:hover {
  border-color: black !important;
}

/* #location .square {
  padding-top: 70%;
} */
.p {}

.vcenterstory {
  /* position: absolute; */
  /* top: 50%; */
  /* -webkit-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
  /* left: 0; */
  /* right: 0; */
  /* bottom: 17vh;
padding: 0px 11vh;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
left: 0;
right: 0;
text-align: left;
width: 55%; */
}

.rsNav.rsBullets {
  display: none;
}

.rsNav.rsBullets {
  background: transparent !important;
}

.rsDefault .rsBullet.rsNavSelected span {
  border: 1px solid white !important;
  background: white !important;
}

.rsDefault .rsBullet span {
  border: 1px solid #f5cbcf !important;
}

.btn.blackboxa.btoo {
  color: black;
  /* margin-left: 15px; */
  /* max-width: 180px; */
  margin: 12px auto;
  /* float: left; */
  /* display: inline-block; */
  /* margin-left: 7px; */
  /* margin: 0 auto; */
  width: 100%;
  text-align: center;
  /* margin-top: 0px !important; */
  position: absolute;
  /* align-self: center; */
  top: 0px;
  margin-bottom: auto;
  background: #f8f036;
  border: none;
  font-weight: 200;
  padding: 6px 10px !important;
  min-width: initial;
}

.blogbutton {
  display: inline-block;
  font-family: Phosphate-s, arial, sans-serif;
  font-size: 2em;
  color: white;
  font-weight: 200;
  /* margin: 30px 0px; */
  margin-bottom: 30px;
}

.blogbutton>h2 {
  color: white;
}

.grecaptcha-badge {
  visibility: hidden;
}

.captext {
  color: #e0dfdf;
}

.captext a:link {
  color: wheat;
}

.room-type h3 {
  padding-top: 0px !important;
  padding-bottom: 20px !important;
}

.room-type .iconrow {
  display: flex;
  justify-content: space-around;
  height: auto;
  /* align-content: center;
    text-align: center;
    align-items: center; */
}

#roomsrow {
  padding-top: 60px;
}

img.size-full.aligncenter {
  margin: 0 auto;
  display: block;
}

#roomsrow .two-deg.smallblog {
  margin-bottom: 0px !important;
}

.assd-tool {
  min-height: calc(100vh - 148px) !important;
}

#servicespage .right h3 {
  /* color: white; */
  padding-top: 20px;
}

.new-gallery .rsNav.rsBullets {
  padding: 15px 0px;
  z-index: 8;
}

.ui-icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-image: url(img/ui-icons_222222_256x240.png);
  position: relative !important;
  /* top: 0px !important; */
}

.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  /*top: 1px;*/
}

.ui-datepicker .ui-datepicker-prev {
  /* margin-left: 2px; */
  /* position: absolute; */
  /* float: left; */
}

.ui-datepicker .ui-datepicker-next {
  right: 2px;
  /* display: block; */
  /* position: relative; */
  /* float: right; */
}

.ui-datepicker .ui-datepicker-prev-hover {
  /*left:1px;*/
}

.ui-datepicker .ui-datepicker-next-hover {
  /*right:1px;*/
}

a.ui-corner-all {
  position: absolute;
  /* right: 2px; */
}

@media screen and (min-width: 1024px) {
  .shoryslide .vcenterstory p {
    max-width: 66%;
  }
}

.funstuff h2 {
  font-size: 1.2em;
  line-height: 1.2em;
}

@media screen and (max-width: 767px) {

  .blogbutton>h2 {
      color: black;
      font-size: 1em;
  }
  #sb_instagram.sbi_col_6 #sbi_images .sbi_item {
    display: none;
  }

  #sb_instagram.sbi_col_6 #sbi_images .sbi_item:nth-child(-n+4) {
    display: block;
  }

  .gallery .fullhighervcenter {
    /* position: relative; */
    z-index: 8;
  }

  .gallery .vcentertextabs {
    /* position: relative;
  transform: none;
  padding: 25px 10px;
  background: white; */
  }

  .blackbox .hiddenholder span, .bluecontact h2, .mainskew h2 {
    padding: 20px 10px;
  }

  #special-offers .offersbox .Grid {
    padding-bottom: 30px;
  }

  #servicespage .hiddenholder {
    padding-top: 100% !important;
  }

  #servicespage .Grid-item.four .badgeb {
    border: 1px solid #000000 !important;
  }

  .hh-home em {
    font-size: .8em;
  }

  .shoryslide {
    padding: 0px !important;
  }

  .storytextholder {
    padding: 15px;
  }

  .btn.blackboxa.btoo {
    display: none !important;
  }

  .rsNav.rsBullets {
    display: block;
    /* padding-top: 15px; */
    margin-top: 15px;
  }

  .storyholder {
    padding-bottom: 0px;
  }

  .storyholder>.royalSlider {
    transform: none !important;
    /* height: calc(100vh - 58px) !important; */
    margin-top: 58px !important;
  }

  .m-nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }

  .shoryslide .vcenterstory .header-title {
    text-align: center;
  }

  .row.vcenterstory {
    flex-direction: column-reverse;
    flex: 1 1 100%;
    flex-basis: 100%;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .storyholder .row.vcenterstory {
    margin-top: 0px;
    align-self: flex-start;
    padding-top: 18px;
  }

  .storyimgholder {
    max-height: 100vw;
    object-fit: cover;
    display: block;
    overflow: hidden;
  }

  .storyholder .rsContent {
    position: relative;
    height: initial;
  }

  .storyholder .rsSlide {
    height: auto;
    position: relative;
    overflow: visible;
  }

  .storyholder .rsContainer {
    height: initial;
  }

  .storyholder .rsOverflow {
    height: auto !important;
  }

  .storyholder .row.vcenterstory {
    padding-bottom: 0px;
  }

  .storyholder .rsDefault .rsBullets {
    /* position: relative; */
    /* float: none; */
    top: 96vw;
    bottom: auto;
    /* padding: 15px 0px; */
  }

  .roomsingle img.rsMainSlideImage {
    object-fit: contain;
    /* max-width: 100vw; */
    max-height: 100vw;
    width: 100%;
    height: 100%;
  }

  .room-type .iconrow {
    max-height: initial !important;
    justify-content: start;
    flex-wrap: wrap;
  }

  .room-type .iconrow img.image-responsive {
    /* max-height: 32px !important; */
    /* margin: 5px auto; */
  }

  #wrapper #headerwrap .header-title {
    position: relative;
    color: black;
    font-size: 2em;
    margin: 0px;
    padding: 15px;
    bottom: 0px;
  }

  #roomsrow {
    padding-top: 0px;
  }

  .popup ul {
    column-count: 1 !important;
  }

  .shoryslide .vcenterstory p {
    max-width: 100%;
    text-align: left;
    padding: 15px 0px;
    font-size: 1.1em;
  }

  .shoryslide .vcenterstory .header-title {
    flex-basis: 100%;
    text-align: center;
    font-size: 3.5em;
    margin: 10px 0px;
    color: black;
  }

  .blogbutton>div {
    color: black;
    font-size: .8em
  }
}

.sbi_photo_wrap svg {
  display: none !important;
  opacity: 0;
}

.zindextop {
  z-index: 3;
}
