.booking-widget * {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

html {
  font-size: 10px!important;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-size: 14px;
   line-height: 1.42857; /* Here */
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #b82925;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #b82925,0 0 5px #b82925;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px,-4px);
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  display: none;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #b82925;
  border-left-color: #b82925;
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.brand-location {
  letter-spacing: 0.15rem;
  text-align: center;
}

.brand-location a {
  color: inherit;
}

.brand-location a:hover {
  color: inherit;
  text-decoration: none;
}

.brand-location p {
  margin: 2rem 3rem 0;
}

.brand-location__logo {
  color: #293036;
  display: none;
}

.brand-location__logo img {
  max-width: 320px;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .brand-location {
    margin-top:-9rem;
  }

  .brand-location p {
    margin-top: 4rem;
  }

  .brand-location__logo {
    display: block;
  }
}

.booking-widget {
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  background-color: #252525;
  bottom: 0;
  display: none;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  padding: 8rem 1.5rem;
  position: fixed;
  right: 0;
  top: 15vh;
  z-index: 99;
}

section.booking-left {
  position: absolute;
  top: 134px;
  visibility: visible;
  transform: none;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2.5rem;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  background-color: rgba(255,255,255,0.89);
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  right: inherit;
  border: none;
  max-width: 280px;
  display: flex;
  margin-left: 40px;
  background-color: rgba(255,255,255,.79);
  color: #000;
  z-index: 8;
}

.mobile-translator-hidden .booking-widget {
  margin-top: 0px;
}

.booking-widget.booking-widget--visible {
  display: block;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .booking-widget.booking-widget--visible {
    display:-ms-flexbox;
    display: flex;
    overflow-y: initial;
    padding-right: 5rem;
  }
}

.booking-widget .select2-results__option {
  text-transform: uppercase;
  padding: 6px 4px;
  font-family: "Montserrat",inherit;
  border: 0px;
  text-align: left;
  border-bottom: 1px solid rgba(0,0,0,0.13);
  padding-left: 18px;
}

.booking-widget .select2-container--default .select2-results>.select2-results__options {
  max-height: 43rem;
  background-color: #FFFFFF;
  color: #fff;
  border-top: 1px solid rgba(0,0,0,0.13);
  color: black;
}

.booking-widget .select2-container--default .select2-selection__arrow {
  display: none;
}

.booking-widget .select2-container .select2-selection--single {
  border-radius: 0;
  height: auto;
  width: 100%;
}

.booking-widget .select2-container--default .select2-selection--single,.booking-widget input,.booking-widget input[type="text"],.booking-widget input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #FFFFFF!important;
  border: none;
  color: #000000!important;
  cursor: pointer;
  font-size: 1.2rem!important;
  letter-spacing: 0.125rem;
  padding: .7rem 1rem;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  font-weight: 200;
  text-rendering: geometricPrecision;
  margin-bottom: 0px;
  height: 30px;
  line-height: 1em;
  margin-top: 0px;
}

.booking-widget .select2-container--default .select2-selection--single .select2-selection__placeholder,.booking-widget input .select2-selection__placeholder {
  color: black;
}

.booking-widget .select2-container--default .select2-selection--single .select2-selection__rendered,.booking-widget input .select2-selection__rendered {
  color: inherit;
  line-height: inherit;
}

.booking-widget .select2-container--default .select2-selection--single:focus,.booking-widget input:focus {
  outline: none;
}

.booking-widget .select2-container--default .select2-selection--single::-webkit-input-placeholder,.booking-widget input::-webkit-input-placeholder {
  color: black;
  font-size: 1.3rem!important;
  font-weight: 200;
  opacity: 1;
}

.booking-widget .select2-container--default .select2-selection--single::-moz-placeholder,.booking-widget input::-moz-placeholder {
  color: black;
  font-size: 1.3rem!important;
  font-weight: 200;
  opacity: 1;
}

.booking-widget .select2-container--default .select2-selection--single:-ms-input-placeholder,.booking-widget input:-ms-input-placeholder {
  color: black;
  font-size: 1.3rem!important;
  font-weight: 200;
  opacity: 1;
}

.booking-widget .select2-container--default .select2-selection--single:-moz-placeholder,.booking-widget input:-moz-placeholder {
  color: black;
  font-size: 1.3rem!important;
  font-weight: 200;
  opacity: 1;
}

.booking-widget {
  bottom: auto;
  border: solid 3px #FFFCF5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 4rem 0 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in;
}

.booking-widget.booking-widget--visible {
  display: -ms-flexbox;
  display: flex;
  transform: translateX(0);
  z-index: 999;
}

.booking-widget.booking-widget--vertical-center {
  top: calc(50% - 140px);
}

.booking-widget .select2-container--open .select2-dropdown {
  left: -3px;
  top: -3px;
}

.booking-widget__title {
  color: #010101;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin: 0 0 1rem;
  text-transform: uppercase;
  /* font-size: 2em; */
  font-family: 'Phosphate-s',arial,sans-serif;
  letter-spacing: .05em;
  line-height: 1.3em;
}

@media (min-width: 768px) {
  .booking-widget__title {
    padding-bottom:0px;
    margin-bottom: 0px;
  }
}

.booking-widget__tagline {
  color: rgba(255,252,245,0.85);
  letter-spacing: 0.1rem;
  line-height: 1.35;
  margin: 0px;
}

.booking-widget__form {
  margin-top: 2rem;
  max-width: 80rem;
  width: 100%;
  position: relative;
}

.booking-widget__form label {
  color: white;
  font-weight: 200;
  font-size: 1.35rem;
  font-style: italic;
  letter-spacing: 0.05rem;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.booking-widget__form label.error {
  color: #b82925;
  display: block;
}

.booking-widget__form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  text-rendering: geometricPrecision;
}

.booking-widget__form__row {
  margin-bottom: 3rem;
  position: relative;
}

.booking-widget__form__row {
  margin: 2rem 1rem;
  width: calc(50% - 6rem);
  max-width: 30rem;
}

.booking-left .booking-widget__form__row {
  width: 100%;
}

.booking-widget__form__submit {
  border-bottom: none;
  text-align: center;
  width: 100%;
  margin: 0.6rem 1rem;
  -webkit-font-smoothing: antialiased;
}

.booking-widget__form__submit button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #333;
  border-radius: 0;
  border: none;
  color: white;
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-top: 2.4rem;
  padding: 1.2rem 1.3rem;
  transition: all 0.2s ease-in;
  text-transform: uppercase;
  width: 100%;
  box-sizing: initial;
}

.booking-widget__form__submit button:hover {
  background-color: #FFFFFF;
  color: black;
}

@media (min-width: 768px) {
  .booking-widget__form__submit button {
    margin-top:4rem;
  }
}

@media (min-width: 768px) {
  .booking-widget__form__submit button {
  }
}

.booking-widget__form__close {
  display: none;
}

@media (min-width: 768px) {
  .booking-widget__form__close {
    background:#FFFFFF;
    bottom: 0;
    color: #FFFCF5;
    content: 'CLOSE PANEL';
    cursor: pointer;
    display: block;
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 8rem;
    font-family: "Montserrat",inherit;
    font-weight: bold;
  }

  .booking-widget__form__close span {
    position: absolute;
    top: 19rem;
    transform: rotate(90deg);
    left: -4.8rem;
    white-space: nowrap;
    top: 18.75rem;
    left: 3.75rem;
    transform: rotate(90deg);
    transform-origin: 0% 50%;
    top: 7.75rem;
    margin: 0px;
    right: 0px;
    width: 250%;
    display: block;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .booking-widget__form__close {
    font-size:2rem;
    width: 7rem;
  }

  .booking-widget__form__close span {
    left: 3.5rem;
    transform: rotate(90deg);
    transform-origin: 0% 50%;
    top: 9.75rem;
    margin: 0px;
    right: 0px;
  }
}

.booking-widget-trigger {
  display: none;
  position: fixed;
  right: 0;
  top: 150px;
  transition: all 0.2s ease-in;
  transform: translateZ(0);
  width: 80px;
  z-index: 100;
  width: 7rem;
}

.booking-widget-trigger.booking-widget-trigger--vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

.booking-widget-trigger.booking-widget-trigger--hidden {
  right: -10rem;
}

@media (min-width: 768px) {
  .booking-widget-trigger {
    display:block;
  }
}

@media (min-width: 992px) {
  .booking-widget-trigger {
    width:7rem;
  }
}

.booking-widget-trigger__title {
  background: #93a445;
  border: solid 3px #FFFCF5;
  color: #FFFCF5;
  cursor: pointer;
  height: 25rem;
  font-size: 3rem;
  white-space: nowrap;
  letter-spacing: 0.1rem;
}

.booking-widget-trigger__title span {
  right: -80px;
  position: absolute;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -ms-transform-origin: 30px 60px;
  -webkit-transform-origin: 30px 60px;
  transform-origin: 30px 60px;
  line-height: normal;
  font-weight: bold;
  font-family: "Montserrat",inherit;
}

@media (min-width: 992px) {
  .booking-widget-trigger__title {
  }

  .booking-widget-trigger__title span {
  }
}

.booking-widget-trigger__social {
  background-color: #293036;
  border: solid 3px #FFFCF5;
  border-top: 0;
  color: #FFFCF5;
  line-height: 1;
  font-size: 1.45rem;
}

.booking-widget-trigger__social.booking-widget-trigger__social--hidden .mobile-social-list {
  margin-top: -30rem;
}

.booking-widget-trigger__social .mobile-social-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: all 0.5s ease-in;
}

.booking-widget-trigger__social .mobile-social-list li {
  border-left: none;
  border-bottom: solid 1px #1c2023;
  height: 5rem;
}

.booking-widget-trigger__social .mobile-social-list li svg {
  fill: #FFFCF5;
}

.booking-widget-trigger__social__title {
  cursor: pointer;
  padding: 0.65rem;
}

@media (min-width: 992px) {
  .booking-widget-trigger__social__title {
    padding:1rem;
  }
}

.booking-widget-trigger__social__small,.booking-widget-trigger__social__big {
  white-space: nowrap;
}

.booking-widget-trigger__social__small {
  font-size: 1rem;
}

@media (min-width: 992px) {
  .booking-widget-trigger__social__small {
    font-size:1.45rem;
  }
}

.booking-widget-trigger__social__big {
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .booking-widget-trigger__social__big {
    font-size:2rem;
  }
}

.booking-widget-trigger__social__list {
  overflow: hidden;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0!important;
  clip: rect(0 0 0 0)!important;
  height: 1px!important;
  margin: -1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
.select2-container--default .select2-selection--single  span.select2-selection__clear {
  text-align:  right;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: black;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f9ee50;
  color: black;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: linear-gradient(to bottom,white 50%,#eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFEEEEEE',GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: linear-gradient(to bottom,#eeeeee 50%,#cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE',endColorstr='#FFCCCCCC',GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: linear-gradient(to bottom,white 0%,#eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFEEEEEE',GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: linear-gradient(to bottom,#eeeeee 50%,white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE',endColorstr='#FFFFFFFF',GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results>.select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

.picker {
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color: black;
  position: absolute;
  z-index: 10000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.picker__input {
  cursor: default;
}

.picker__input.picker__input--active {
  border-color: #93a445;
}

.picker__holder {
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.picker {
  width: 100%;
}

.picker__holder {
  position: absolute;
  background: #FFFFFF;
  border-top-width: 0;
  border-bottom-width: 0;
  box-sizing: border-box;
  min-width: 176px;
  max-width: 466px;
  max-height: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  transform: translateY(-1em) perspective(600px) rotateX(10deg);
  transition: transform 0.15s ease-out,opacity 0.15s ease-out,max-height 0s 0.15s,border-width 0s 0.15s;
}

.picker__frame {
  padding: 1px;
}

.picker__wrap {
  margin: -1px;
}

.picker--opened .picker__holder {
  max-height: 25em;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  border-top-width: 0;
  border-bottom-width: 0;
  transform: translateY(0) perspective(600px) rotateX(0);
  transition: transform 0.15s ease-out,opacity 0.15s ease-out,max-height 0s,border-width 0s;
  box-shadow: 0 6px 18px 1px rgba(0,0,0,0.12);
}

.picker__box {
  padding: 0 0em;
}

.picker__header {
  text-align: center;
  position: relative;
  margin-top: .75em;
}

.picker__month,.picker__year {
  font-weight: 500;
  display: inline-block;
  margin-left: .25em;
  margin-right: .25em;
}

.picker__year {
  font-style: italic;
}

.picker__select--month,.picker__select--year {
  border: 1px solid #b7b7b7;
  height: 2em;
  padding: .5em;
  margin-left: .25em;
  margin-right: .25em;
}

@media (min-width: 24.5em) {
  .picker__select--month,.picker__select--year {
    margin-top:-0.5em;
  }
}

.picker__select--month {
  width: 35%;
}

.picker__select--year {
  width: 22.5%;
}

.picker__select--month:focus,.picker__select--year:focus {
  border-color: #0089ec;
}

.picker__nav--prev,.picker__nav--next {
  position: absolute;
  padding: .5em .65em;
  width: 1em;
  height: 1em;
  box-sizing: content-box;
  top: -0.25em;
}

@media (min-width: 24.5em) {
  .picker__nav--prev,.picker__nav--next {
    top:-0.33em;
  }
}

.picker__nav--prev {
}

@media (min-width: 24.5em) {
  .picker__nav--prev {
  }
}

.picker__nav--next {
  right: 0em;
}

@media (min-width: 24.5em) {
  .picker__nav--next {
  }
}

.picker__nav--prev:before,.picker__nav--next:before {
  content: " ";
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-right: 0.75em solid #000000;
  width: 0;
  height: 0;
  display: block;
  margin: 0 auto;
}

.picker__nav--next:before {
  border-right: 0;
  border-left: 0.75em solid #000000;
}

.picker__nav--prev:hover,.picker__nav--next:hover {
  cursor: pointer;
  color: #000000;
  background: #f9ee50;
}

.picker__nav--disabled,.picker__nav--disabled:hover,.picker__nav--disabled:before,.picker__nav--disabled:before:hover {
  cursor: default;
  background: none;
  border-right-color: #f5f5f5;
  border-left-color: #f5f5f5;
}

.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  margin-top: .75em;
  margin-bottom: .5em;
}

@media (min-height: 33.875em) {
  .picker__table {
    margin-bottom:.75em;
  }
}

.picker__table td {
  margin: 0;
  padding: 0;
}

.picker__weekday {
  width: 14.285714286%;
  font-size: .75em;
  padding-bottom: .25em;
  color: #999999;
  font-weight: 500;
}

@media (min-height: 33.875em) {
  .picker__weekday {
    padding-bottom:.5em;
  }
}

.picker__day {
  padding: .3125em 0;
  font-weight: 200;
  border-left: 1px solid rgba(0,0,0,0.09);
  color: #282828;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.09);
  font-size: .9em;
}

.picker__day--today {
  position: relative;
  border: 1px solid yellow;
}

.picker__day--today:before {
  content: " ";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 0;
  height: 0;
}

.picker__day--disabled:before {
  border-top-color: #aaaaaa;
}

.picker__day--outfocus {
  color: #7d7c7c;
}

.picker__day--infocus:hover,.picker__day--outfocus:hover {
  cursor: pointer;
  color: #000000;
  background: #f5f5f5;
}

.picker__day--highlighted {
}

.picker__day--highlighted:hover,.picker--focused .picker__day--highlighted {
  cursor: pointer;
  color: #000000;
  background: #f5f5f5;
}

.picker__day--selected,.picker__day--selected:hover,.picker--focused .picker__day--selected {
  background: #f9ee50;
  color: #000;
}

.picker__day--disabled,.picker__day--disabled:hover,.picker--focused .picker__day--disabled {
  background: #ececec;
  border-color: rgba(0,0,0,0.09);
  color: #b3b3b3;
  cursor: default;
}

.picker__day--highlighted.picker__day--disabled,.picker__day--highlighted.picker__day--disabled:hover {
  background: #bbbbbb;
}

.picker__footer {
  text-align: center;
  display: none;
}

.picker__button--today,.picker__button--clear,.picker__button--close {
  border: none;
  background: #FFFFFF;
  font-size: .8em;
  padding: .66em 0;
  font-weight: bold;
  width: 33%;
  display: inline-block;
  vertical-align: bottom;
}

.picker__button--today:hover,.picker__button--clear:hover,.picker__button--close:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
  border-bottom-color: #b1dcfb;
}

.picker__button--today:focus,.picker__button--clear:focus,.picker__button--close:focus {
  background: #b1dcfb;
  border-color: #0089ec;
  outline: none;
}

.picker__button--today:before,.picker__button--clear:before,.picker__button--close:before {
  position: relative;
  display: inline-block;
  height: 0;
}

.picker__button--today:before,.picker__button--clear:before {
  content: " ";
  margin-right: .45em;
}

.picker__button--today:before {
  top: -0.05em;
  width: 0;
  border-top: 0.66em solid #0059bc;
  border-left: .66em solid transparent;
}

.picker__button--clear:before {
  top: -0.25em;
  width: .66em;
  border-top: 3px solid #ee2200;
}

.picker__button--close:before {
  content: "\D7";
  top: -0.1em;
  vertical-align: top;
  font-size: 1.1em;
  margin-right: .35em;
  color: #777777;
}

.picker__button--today[disabled],.picker__button--today[disabled]:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
}

.picker__button--today[disabled]:before {
  border-top-color: #aaaaaa;
}

ul.select2-results__options {
  display: table;
  width: 100%;
}

ul.select2-results__options li.select2-results__option {
  table-layout: fixed;
  display: table-column;
  max-width: 75px;
  height: 73px;
  padding: 0px!important;
  margin: 0px;
  line-height: 73px;
  float: left;
  border-right: 1px solid rgba(0,0,0,0.13)!important;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(0,0,0,0.13);
  position: relative;
  border-left: 0px!important;
  text-align: center;
  min-width: 25%;
  color: black;
  width: auto;
}

ul.select2-results__options li.select2-results__option:nth-child(4n + 4) {
  border-right: 0px!important;
}

.close-x {
  cursor: pointer;
  right: 0px;
  display: none;
  margin-right: 5px;
  font-size: 22px;
  font-weight: bold;
  /* border: 1px solid #FFFFFF; */
  padding: 7px 10px;
  line-height: 1em;
}

.showclosex .close-x {
  display: block;
}

.mobile-social-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-social-list li {
  -ms-flex-align: center;
  align-items: center;
  border-left: solid 1px #F5EFE1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  fill: #293036;
  height: 5rem;
  -ms-flex-pack: center;
  justify-content: center;
}

.mobile-social-list li svg {
  width: 20px;
}

.mobile-social-list li:first-child {
  border-left: none;
}

.mobile-social-list li:nth-child(6) svg {
  fill: #b82925;
}

.mobile-social-list.mobile-social-list--dark {
  background-color: #293036;
}

.mobile-social-list.mobile-social-list--dark li svg {
  fill: #F5EFE1;
}

@media (min-width: 768px) {
  .mobile-social-list {
    display:none;
  }
}

.assd-tool {
  min-height: 100vh;
  margin: 15px 0 0;
  overflow: hidden;
  width: 995px;
  width: -webkit-calc(100% - 130px);
  width: -moz-calc(100% - 130px);
  width: calc(100% - 30px);
  height: 100%;
}

#booking-iframe {
  margin: 0 auto;
  text-align: center;
}

input[type="text"]::-webkit-input-placeholder {
  color: #000000!important;
}

input::-moz-placeholder {
  color: #000000;
}

input:-ms-input-placeholder {
  color: #000000;
}

input:-moz-placeholder {
  color: #000000;
}

input[type="text"] {
  -webkit-text-fill-color: #000000;
}

.booking-left .booking-widget__title {
  line-height: inherit;
  text-align: center;
}

.booking-left form.booking-widget__form {
}

.booking-left span.select2-selection.select2-selection--single,.booking-left input[type="text"] {
  font-size: 1.3rem!important;
  letter-spacing: 0.125rem;
  padding: .8rem 1rem!important;
  height: 2.6em;
  color: #000000!important;
  line-height: 1.6em;
}

.booking-left .booking-widget__form__row {
  margin: 0.6rem 1rem;
}

.booking-left span.select2-dropdown.select2-dropdown--below {
  left: 0px;
}

.booking-left ul.select2-results__options li.select2-results__option {
  height: 50px;
  line-height: 50px;
}

.booking-left button {
  font-size: 1.2rem;
  margin: 0px;
  font-weight: normal;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 100%;
  font-size: 1.2em;
  font-family: 'Phosphate-s',arial,sans-serif;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.booking-left label {
  font-size: 1.0rem;
}

@media screen and (width: 1024px) {
  .assd-tool {
  }
}

@media screen and (max-width: 1024px) {
  #booking-iframe iframe {
    margin-top:120px;
  }
}

#mobile-toggle {
}

#mobile-toggle .ubtn-icon {
}

.hidden {
  display: none!important;
}

.shown {
  display: block!important;
}

.stickybook {
  margin-top: 0px!important;
  position: fixed!important;
  top: 0px!important;
}

.booknow {
  position: fixed;
  top: 100px;
}

@media screen and (max-width: 768px) {


  section.booking-widget.booking-left {
    position:relative;
    margin: 0px auto;
    width: 100%;
    max-width: 100%;
    top: 0px;
    background: black;
    padding: 1.1rem;
    min-height: 50px;
  }

  #mobile-toggle {
    display: block;
    margin: 0px;
    text-align:  center;
    width:  auto;
  }
  div#mobile-toggle.showclosex {
  width:  100%;
}

  .mobile-hide {
    display: none;
  }

  .orderbox-box .mobile-hide {
    display: block;
  }

  .order-box .stickybook {
    margin-top: 0px!important;
    position: relative!important;
    top: 0px!important;
  }

  .showclosex .close-x {
    display: block;
  }

  .close-x {
    display: none;
    /* margin-right: 55px; */
    /* margin-top: -100px; */
    color:  white;
    position:  absolute;
    top: 3px;
    left: 7px;
    margin-top: 0px;
    padding: 0px;
    margin-right:  0px;
    /* float: right; */
    text-align: left;
  }

  #mobile-toggle .booking-widget__title {
    padding-bottom: 0px;
    cursor: pointer;
    color: white;
    margin-bottom: 0px;
    width:  auto;
    display:  inline-block;
  }
}
